body{
    background-size: cover;
}
#status,#number_of_objects,#start{
    font-size:18px;
}
.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
}
canvas{
    border: 2px solid white;
    border-radius: 10px;
    margin-top: 130px;
    box-shadow: 5px 5px 5px whitesmoke;
}
.copy_right_footer{
    position: fixed;
    color: coral;
    bottom: 0;
    width: 100%;
    background-color: royalblue;
    line-height: 2;
    text-align: center;
}